body{
    background-color: blue;
    display: flex;
    min-height: 100vh;
    
}


footer{
   
    margin-top: auto;/*vai para baixo*/
   display: flex;
   flex: 1;
   background-color: lightslategray;
   align-items: center;
   height: 8rem;
   justify-content: center;
    
}