*{
    border: 0;
}

body{
    background-color: pink;
    display: flex;
    min-height: 100vh;
    
    
}


footer{
   
    margin-top: auto;/*vai para baixo*/
   display: flex;
   flex: 1;
   background-color: lightslategray;
   align-items: center;
   height: 7rem;
   justify-content: center;
    
}