@charset "utf-8";

body{
    background-color: rgb(67, 67, 230);

}

header{
    text-align: center;
    color: white;
}

p{
    margin: 5px;
    padding: 0.4rem;
    font-weight: bolder;
}
button{
    margin-left: 10px;
}
button:hover{
    background-color: grey;
}

#container{
    background-color: lightblue;
    width: 500px;
    height: 300px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.555);
    margin-left: auto;
    margin-right: auto;
}

select{
    margin: 10px;
}