*{
    margin-top: 20px;
}

body{
    background-color: #062900;
 
}
header{
    background-color: #b7f55f;
    height: 80px;
    width: 300px;
    border-radius: 5px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    
}

.container{
    display: flex;
    justify-content: center;
}

.box{
    display: flex;
    margin-top: 50px;
    background-color: #005f36;
    width: 350px;
    height: 450px;
    box-shadow: 5px 5px 10px black;
    border-radius: 10px;
    
}
.box div:nth-child()


#screen{
    display: flex;
    padding: auto;
    margin: auto;
    height: 80px;
    width: 80px;
    margin-top: 2.5rem;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.493);
    background-color: #ffffb2;
}

#numbers{
    display: flex;
    
}

.number{
    border: 1px solid black;
    background-color:#00cca9 ;
    height: 10px;
    padding: 10px;
    
}

.lateral div{
    background-color: antiquewhite;
    flex: 3;
}